<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html>

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Agendoc</title>
</head>

<body id="page-prof-register">
    <div align="center" id="container">
        <div align="center">
            <a th:href="@{/admins/listaClientes}" th:text="#{back.text}">
            </a>
        </div>

        <main align="center">
            <form th:action="@{/admins/editaCliente}" th:object="${cliente}" method="POST" id="register-prof">
                <legend th:text="#{client_data.text}">
                </legend>
                <br />
                <div>
                    <label for="cpf" th:text="#{id_cpf.text}">
                    </label>
                    <input type="text" name="cpf" th:value="${clienteEdit.cpf}" />
                </div>
                <div>
                    <label for="name" th:text="#{name.text}">
                    </label>
                    <input name="nome" id="name" th:value="${clienteEdit.nome}" required>
                </div>
                <div>
                    <label for="email" th:text="E-mail">
                    </label>
                    <input name="email" id="email" th:value="${clienteEdit.email}" required>
                </div>
                <div>
                    <label for="pass" th:text="#{password.text}">
                    </label>
                    <input name="senha" id="pass" th:value="${clienteEdit.senha}" required>
                </div>
                <div>
                    <label for="birth" th:text="#{birth.text}">
                    </label>
                    <input type="date" name="nascimento" th:field="${clienteEdit.nascimento}">
                </div>
                <div>
                    <label th:text="#{tel.text}">
                    </label>
                    <input name="telefone" type="text" th:value="${clienteEdit.telefone}" /><br />
                </div>
                <div>
                    <label th:text="#{sex.text}">
                    </label>
                    <input name="sexo" type="text" th:value="${clienteEdit.sexo}" /><br />
                </div>
            </form>
            <div id="erro">
                <div>
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            <span th:text="#{login.error}"></span>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" form="register-prof" value="Salvar" th:text="#{save_register.text}">
            </button>

        </main>
    </div>
</body>

</html>