<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Agendoc</title>
</head>

<body>
    <h1 th:text="#{admin_page.text}"></h1>
    <p th:text="#{welcome.text}"> Admin
    </p>
    <div align="center">
        <ul>
            <li>
                <a th:href="@{/admins/listaClientes}" th:text="#{client_crud.text}"></a>
            </li>
            <li>
                <a th:href="@{/admins/listaProfissionais}" th:text="#{professional_crud.text}"></a>
            </li>
            <li>
                <!--<a th:href="@{/logout}" th:text="#{logout.text}"></a> -->
                <form th:action="@{/logout}" method="post">
                    <div class="row">
                        <div class="col-sm-12 col-sm-offset-3">
                            <input type="submit" name="login-submit" id="login-submit" class="form-control btn btn-info"
                                value="Logout">
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </div>
</body>